* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: white;
    overflow: hidden;
}

.Navbar {
    background: #13151e;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}


/*
+ Canvas
*/

.canvas {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.canvasTS {
    height: 100vh;
}

.ts-h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 300;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    user-select: none;
}


/*
+ Scroll Down
*/

.ScrollDown {
    cursor: pointer;
    position: relative;
}

.ScrollDown img {
    animation: move 3s linear infinite;
    position: absolute;
    width: 38px;
}

@keyframes move {
    0% {
        bottom: 5vh;
    }

    25% {
        bottom: 3vh;
    }

    50% {
        bottom: 1vh;
    }

    75% {
        bottom: 3vh;
    }

    100% {
        bottom: 5vh;
    }
}


/*
+ Pages
*/

.pages-wrapper {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
}

.Page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: start;
}

.Hero {
    color: white;
    font-size: 2.4rem;
}

.Hero,
.page-three {
    background: linear-gradient(to top, #0e0e15, #070728);
}

.page-two,
.page-four {
    background: linear-gradient(to top, #070728, #0e0e15);
}
