* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --dark_purple: #070728;
    --dark_night: #0e0e15;
    --grey: #47576e;
    --purple: #9e1aea;
    --purple_light: #ac53df;
    --page_odd: linear-gradient(to top, var(--dark_night), var(--dark_purple));
    --page_even: linear-gradient(to top, var(--dark_purple), var(--dark_night));
    --scrollbar: #5CECBF;
    --scrollbar_hover: #24a47c;
    --whitesmoke: #F5F5F5;
}

html {
    color: var(--whitesmoke);
    overflow: hidden;
}


/*
+ Scrollbar
*/

::-webkit-scrollbar {
    background: var(--dark_purple);
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background: var(--dark_purple);
}

::-webkit-scrollbar-thumb {
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: linear-gradient(transparent, var(--scrollbar));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, var(--scrollbar_hover));
}


/*
+ Navbar
*/

.Navbar {
    bottom: 50px;
    color: var(--whitesmoke);
    font-size: 1.4rem;
    position: fixed;
    right: 50px;
    top: auto;
    z-index: 1000;
}

.Navbar li {
    display: block;
    margin: 10px 0;
    padding: 0;
    height: auto;
    position: relative;
    width: auto;
}

.Navbar a {
    background: var(--grey);
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.Navbar a,
.Navbar a.active {
    height: 56px;
    width: 5px;
}

.Navbar a.active {
    background: var(--scrollbar);
}

.Navbar a.active .number {
    color: var(--scrollbar);
}

.Navbar a.active .number {
    display: block;
}

.Navbar li,
.Navbar span {
    background: transparent;
}

.Navbar span {
    margin: -24px 0 0 -10px;
    padding: 13px 10px;
    top: 50%;
    z-index: 1;
}

.Navbar span.number {
    clip: unset;
    color: transparent;
    display: none;
    font-weight: 600;
    height: auto;
    left: -20px;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    width: auto;
}


/*
+ PageOne
*/

.ParticlesJS {
    height: 100vh;
}

/* Google Chrome fix particles glitch on page load */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .ParticlesJS {
        width: calc(100vw - 25px);
    }
}

.hero-text {
    align-items: center;
    display: flex;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 300;
    flex-wrap: wrap;
    left: 20vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    user-select: none;
}

.typewriting {
    position: relative;
}

.typewriting::after {
    animation: blink 1.2s infinite ease-in-out;
    border-right: 2px solid var(--whitesmoke);
    content: '';
    height: 80%;
    position: absolute;
    right: -10px;
    top: 20%;
    width: 1px;
}

@keyframes blink {
    0% { opacity: 1 }
    100% { opacity: 0 }
}


/*
+ Scroll Down
*/

.ScrollDown {
    position: relative;
    width: 100%;
}

.ScrollDown,
.ScrollDown .image-wrapper {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.ScrollDown .image-wrapper {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
}

.ScrollDown img {
    animation: move 3s linear infinite;
    position: absolute;
    width: 38px;
}

@keyframes move {
    0% {
        bottom: 5vh;
    }

    25% {
        bottom: 3vh;
    }

    50% {
        bottom: 1vh;
    }

    75% {
        bottom: 3vh;
    }

    100% {
        bottom: 5vh;
    }
}


/*
+ Main
*/

.pages-wrapper {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
}

.Page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: start;
    transition: 1s;
}

.Hero {
    color: var(--whitesmoke);
    font-size: 2.4rem;
}

.Hero,
.page-three {
    background: var(--page_odd);
}

.page-two,
.page-four {
    background: var(--page_even);
}



/*
+ MOBILE
*/

@media (max-width: 1340px) {
    .Hero {
        font-size: 2rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
    }

    .typewriting {
        position: relative;
        left: 0;
    }
}

@media (max-width: 840px) {
    .Hero {
        font-size: 1rem;
    }
    .typewriting {
        left: 25%;
        position: absolute;
        top: 100%;
    }
}