* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
}

/*
+ Navbar
*/

.Navbar {
    /*background-color: red;*/
    bottom: 50px;
    color: white;
    font-size: 1.4rem;
    position: fixed;
    right: 50px;
    top: auto;
    /*width: 16px;*/
    z-index: 1000;
}

.Navbar li {
    display: block;
    margin: 10px 0;
    padding: 0;
    height: auto;
    position: relative;
    width: auto;
}

.Navbar a {
    background: #47576e;
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.Navbar a,
.Navbar a.active {
    height: 56px;
    width: 3px;
}

.Navbar a.active {
    background: #9e1aea;
}

.Navbar a.active .number {
    display: block;
}

.Navbar li,
.Navbar span {
    background: transparent;
}

.Navbar span {
    /*background: #fff;*/
    /*border: 0;*/
    /*border-radius: 50%;*/
    /*height: 4px;*/
    /*left: 50%;*/
    margin: -8px 0 0 -2px;
    /*position: absolute;*/
    top: 50%;
    /*width: 4px;*/
    z-index: 1;
    /*transition: all 1s ease-in-out;*/
}

.Navbar span.number {
    /*display: none;*/
    clip: unset;
    color: whitesmoke;
    font-weight: 600;
    height: auto;
    left: -20px;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    /*white-space: nowrap;*/
    width: auto;
}


/*
+ Hero
*/

.ParticlesJS {
    height: 100vh;
}

.hero-text {
    align-items: center;
    display: flex;
    /*flex-direction: column;*/
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 300;
    flex-wrap: wrap;
    left: 20vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    /*right: 25%;*/
    text-align: center;
    user-select: none;
}

.typewriting {
    position: relative;
}

.typewriting::after {
    animation: blink 1.2s infinite ease-in-out;
    border-right: 2px solid white;
    content: '';
    height: 80%;
    position: absolute;
    right: -10px;
    top: 20%;
    width: 1px;
}

@keyframes blink {
    0% { opacity: 1 }
    100% { opacity: 0 }
}


/*
+ Scroll Down
*/

.ScrollDown {
    cursor: pointer;
    position: relative;
}

.ScrollDown img {
    animation: move 3s linear infinite;
    position: absolute;
    width: 38px;
}

@keyframes move {
    0% {
        bottom: 5vh;
    }

    25% {
        bottom: 3vh;
    }

    50% {
        bottom: 1vh;
    }

    75% {
        bottom: 3vh;
    }

    100% {
        bottom: 5vh;
    }
}


/*
+ Main
*/

.pages-wrapper {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
}

.Page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: start;
}

.Hero {
    color: white;
    font-size: 2.4rem;
}

.Hero,
.page-three {
    background: linear-gradient(to top, #0e0e15, #070728);
}

.page-two,
.page-four {
    background: linear-gradient(to top, #070728, #0e0e15);
}



/*
+ MOBILE
*/

@media (max-width: 1340px) {
    .Hero {
        font-size: 2rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
    }

    .typewriting {
        position: relative;
        left: 0;
    }
}

@media (max-width: 640px) {
    .Hero {
        font-size: 1rem;
    }
}