* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

:root {
    --dark_purple: #070728;
    --dark_night: #0e0e15;
    --grey: #47576e;
    --link_visited: #ffb6c1;
    --link_active: #008080;
    --orange: #e6761c;
    --page_odd: linear-gradient(to top, var(--dark_night), var(--dark_purple));
    --page_even: linear-gradient(to top, var(--dark_purple), var(--dark_night));
    --scrollbar: #5CECBF;
    --scrollbar_hover: #24a47c;
    --whitesmoke: #F5F5F5;
}

html {
    color: var(--whitesmoke);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    overflow: hidden;
}

.Page h1 {
    color: var(--scrollbar);
    font-family: 'Overlock', cursive;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    word-spacing: 0.2rem;
}

.Hero h1 {
    color: var(--whitesmoke);
    font-size: 3.4rem;
    font-weight: 300;
    text-transform: none;
}

p {
    font-size: 1.25rem;
}

a {
    color: var(--scrollbar);
    text-decoration: none;
}

a:visited {
    color: var(--link_visited);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--link_active);
}


/*
+ Scrollbar
*/

::-webkit-scrollbar {
    background: var(--dark_purple);
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background: var(--dark_purple);
}

::-webkit-scrollbar-thumb {
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: linear-gradient(transparent, var(--scrollbar));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, var(--scrollbar_hover));
}


/*
+ Navbar
*/

.Navbar {
    bottom: 100px;
    color: var(--whitesmoke);
    font-size: 1.4rem;
    position: fixed;
    right: 50px;
    top: auto;
    z-index: 100;
}

.Navbar li {
    display: block;
    margin: 10px 0;
    padding: 0;
    height: auto;
    position: relative;
    width: auto;
}

.Navbar a {
    background: var(--grey);
    display: block;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.Navbar a,
.Navbar a.active {
    height: 56px;
    width: 5px;
}

.Navbar a.active {
    background: var(--scrollbar);
}

.Navbar a.active .number {
    color: var(--scrollbar);
}

.Navbar a.active .number {
    display: block;
}

.Navbar li,
.Navbar span {
    background: transparent;
}

.Navbar span {
    margin: -24px 0 0 -10px;
    padding: 13px 10px;
    top: 50%;
    z-index: 1;
}

.Navbar span.number {
    clip: unset;
    color: transparent;
    display: none;
    font-weight: 600;
    height: auto;
    left: -20px;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    width: auto;
}


/*
+ PageOne
*/

.ParticlesJS {
    height: 100vh;
}

/* Google Chrome fix for particles glitch on page load */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .ParticlesJS {
        width: calc(100vw - 25px);
    }
}

.hero-text {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    left: 20vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    user-select: none;
}

.typewriting {
    position: relative;
}

.typewriting::after {
    animation: blink 1.2s infinite ease-in-out;
    border-right: 2px solid var(--whitesmoke);
    content: '';
    height: 80%;
    position: absolute;
    right: -10px;
    top: 20%;
    width: 1px;
}

@keyframes blink {
    0% { opacity: 1 }
    100% { opacity: 0 }
}


/*
+ Scroll Down
*/

.ScrollDown {
    position: relative;
    width: 100%;
}

.ScrollDown,
.ScrollDown .image-wrapper {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.ScrollDown .image-wrapper {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
}

.ScrollDown img {
    animation: move 3s linear infinite;
    position: absolute;
    width: 38px;
}

@keyframes move {
    0% {
        bottom: 5vh;
    }

    25% {
        bottom: 3vh;
    }

    50% {
        bottom: 1vh;
    }

    75% {
        bottom: 3vh;
    }

    100% {
        bottom: 5vh;
    }
}


/*
+ ScrollToTop
*/

.ScrollToTop {
    bottom: 30px;
    cursor: pointer;
    position: fixed;
    right: 30px;
}


/*
+ Main
*/

.Main {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
}

.Page,
.Hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: start;
    text-align: center;
    transition: 1s;
}

.Hero,
.page-three,
.page-five,
.page-seven {
    background: var(--page_odd);
}

.page-two,
.page-four,
.page-six,
.page-eight {
    background: var(--page_even);
}


/*
+ ShowCase
*/

.ShowCase {
    margin-bottom: 40px;
    width: 75vw;
}

.ShowCase h1 {
    margin-bottom: 80px;
}

.ShowCase,
.ShowCase .box,
.ShowCaseImage,
.ShowCaseText,
.ShowCaseText-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ShowCase .box {
    align-items: normal;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}

.ShowCaseImage {
    flex-basis: 45%;
}

.ShowCaseImage img {
    border-radius: 8px;
    width: 100%;
}

.ShowCaseText {
    flex-basis: 40%;
}

.ShowCaseText-content-wrapper {
    height: 100%;
    width: 100%;
}


/*
+ Game
*/

.board {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.page-eight h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.cell {
    align-items: center;
    border: 1px solid var(--whitesmoke);
    cursor: crosshair;
    display: flex;
    height: 120px;
    justify-content: center;
    position: relative;
    width: 120px;
}

/* Cell border */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

/* X */
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: var(--whitesmoke);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: var(--grey);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: "";
    height: 90px;
    position: absolute;
    width: 7%;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* O */
.cell.circle::before {
    background-color: var(--whitesmoke);
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: var(--grey);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    border-radius: 50%;
    content: "";
    position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    height: 80px;
    width: 80px;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background: var(--page_even);;
    height: 65px;
    width: 65px;
}

/* Win message */
.win-message {
    align-items: center;
    background-color: rgba(7, 7, 40, 0.95);
    display: none;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}

.win-message.show {
    display: flex;
}

.win-message h1 {
    color: var(--whitesmoke);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 4rem;
    margin: 30px;
}

.win-message button {
    background-color: var(--whitesmoke);
    border: 1px solid var(--dark_night);
    border-radius: 4px;
    color: var(--dark_night);
    cursor: pointer;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 10px 25px;
}

.win-message button:hover {
    background-color: var(--orange);
}

/*
+ DESKTOP ONLY
*/

@media (min-width: 1340px) {
}


/*
+ MOBILE
*/

@media (max-width: 1340px) {
    .Hero {
        font-size: 2rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        left: 0;
        right: 0;
    }

    .typewriting {
        left: 20%;
        position: absolute;
        top: 100%;
    }

    .ShowCase {
        width: 70vw;
    }

    .ShowCase h1 {
        margin: 0;
    }

    .ShowCase .box {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .ShowCase .box-item {
        width: 80%;
    }

    .ShowCaseImage {
        margin: 80px 10px;
    }

    .ShowCaseImage img {
        width: 100%;
    }

}

@media (max-width: 940px) {
    .Navbar {
        right: 40px;
    }

    .ScrollToTop {
        right: 20px;
    }

    .Hero h1 {
        font-size: 2rem;
    }

    .typewriting {
        left: 30%;
    }

    .ShowCase h1 {
        font-size: 2.6rem;
    }

    .ShowCaseImage img {
        height: 100%;
    }
}

@media (max-width: 640px) {
    .typewriting {
        left: 15%;
    }

    .Navbar {
        font-size: 1rem;
        right: 30px;
    }

    .ScrollToTop {
        right: 10px;
    }

    .ShowCaseImage {
        margin: 40px 10px;
    }
}

@media (max-width: 480px) {
    .Hero h1 {
        font-size: 1.2rem;
    }

    .typewriting {
        left: 5%;
    }

    .Navbar {
        right: 20px;
    }

    .ScrollToTop {
        right: 1px;
    }

    .ShowCase h1 {
        font-size: 2rem;
    }
}

@media (max-width: 380px) {
    .hero-text {
        width: 80%;
    }

    .Navbar a, .Navbar a.active {
        height: 40px;
        width: 6px;
    }

    .ShowCaseImage {
        margin: 40px 10px;
    }

    .ShowCase h1 {
        font-size: 1.6rem;
    }

    .ShowCaseText p {
        font-size: 1.2rem;
    }
}

@media (max-width: 330px) {
    .ShowCaseImage {
        margin: 20px 10px;
    }

    .ShowCase h1 {
        font-size: 1.2rem;
    }

    .ShowCaseText p {
        font-size: 0.9rem;
    }
}